body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    background-image: url("images/wasteland.avif");
    background-size: cover; /* This ensures the image covers the entire element */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    backdrop-filter: blur(10px);
}

.header {
    justify-content: center;
    color: white;
}

button {
    width: 100px;
    height: 100px;
}

.buttons_div {
    gap: 15px;
    display: none;
}

.displayResults {
    color: white;
}

.mrBean {
    width: 500px;
    position: fixed;
    align-self: flex-start;
}
